<h3>Update <%= student.name %>'s points</h3>
<div class="form" data-id=<%= student.githubId %> >
  <label>Name</label>
  <input type="text" placeholder="<%= student.name %>" name="name"><br />
  <label>Intermission homework</label>
  <input type="text" placeholder="<%= student.intermission %>" name="intermission"><br />
  <label>Node Project</label>
  <input type="text" placeholder="<%= student.nodeProject %>" name="nodeProject"><br />
  <label>Electron Project</label>
  <input type="text" placeholder="<%= student.electronProject %>" name="electronProject"><br />
  <label>React Native Project</label>
  <input type="text" placeholder="<%= student.reactNativeProject %>" name="reactNativeProject"><br />
  <label>Capstone Project</label>
  <input type="text" placeholder="<%= student.capstoneProject %>" name="capstoneProject"><br />
  <label>Dangerous Denver</label>
  <input type="text" placeholder="<%= student.dangerousDenver %>" name="dangerousDenver"><br />
  <label>Mock Assessment</label>
  <input type="text" placeholder="<%= student.mockAssessment %>" name="mockAssessment"><br />
  <label>Homework</label>
  <input type="text" placeholder="<%= student.homework %>" name="homework"><br />
  <label>Student Led Session</label>
  <input type="text" placeholder="<%= student.studentLedSession %>" name="studentLedSession"><br />
  <label>Final Assessment</label>
  <input type="text" placeholder="<%= student.finalAssessment %>" name="finalAssessment"><br />
  <label>Extra Credit</label>
  <input type="text" placeholder="<%= student.extraCredit %>" name="extraCredit"><br />

  <button id="submit">Submit</button>
</div>
