<div class="container">
  <div class="student-info">
    <h2><%= student.name %></h2>
    <h3><%= student.cohort %></h3>
    <img class="avatar" src="<%= student.avatarUrl %>" />
    <h3>Total points: <%= totalPoints %> / 1000</h3>
  </div>
  <div class="projects">
    <h2>Projects</h2>
    <p>Jet Fuel: <%= student.nodeProject %></p>
    <p>Imposter: <%= student.electronProject %></p>
    <p>React Native: <%= student.reactNativeProject %></p>
    <p>Capstone project: <%= student.capstoneProject %></p>
  </div>
  <div class="homework">
    <h2>Homework</h2>
    <p>Intermission homework: <%= student.intermission %></p>
    <p>Dangerous Denver: <%= student.dangerousDenver %></p>
    <p>Homework: <%= student.homework %></p>
    <p>Student led session: <%= student.studentLedSession %></p>
    <p>Extra credit: <%= student.extraCredit %></p>
  </div>
  <div class="assessments">
    <h2>Assessments</h2>
    <p>Mock assessment: <%= student.mockAssessment %></p>
    <p>Final assessment: <%= student.finalAssessment %></p>
  </div>
</div>
