<div class="container">
  <div class="student-info">
    <h2><%= student.name %></h2>
    <h3><%= student.cohort %></h3>
    <img class="avatar" src="<%= student.avatarUrl %>" />
    <h3>Total points: <%= totalPoints %> / 1000</h3>
  </div>
  <div class="projects">
    <h2>Projects</h2>
    <p>Jet Fuel: <%= student.nodeProject %> / 100</p>
    <p>Imposter Syndrome: <%= student.electronProject %> / 175</p>
    <p>React Native: <%= student.reactNativeProject %> / 175</p>
    <p>Capstone project: <%= student.capstoneProject %> / 325</p>
  </div>
  <div class="homework">
    <h2>Homework</h2>
    <p>Intermission homework: <%= student.intermission %> / 50</p>
    <p>Dangerous Denver: <%= student.dangerousDenver %> / 50</p>
    <p>Homework: <%= student.homework %> / 100</p>
    <p>Student led session: <%= student.studentLedSession %> / 50</p>
    <p>Extra credit: <%= student.extraCredit %></p>
  </div>
  <div class="assessments">
    <h2>Assessments</h2>
    <p>Mock assessment: <%= student.mockAssessment %> / 75</p>
    <p>Final assessment: <%= student.finalAssessment %> / 150</p>
  </div>
</div>
