<p>Name: <%= student.name %></p>
<p>Cohort: <%= student.cohort %></p>
<img src="<%= student.avatarUrl %>" />
<p>Intermission homework points: <%= student.intermission %></p>
<p>Jet Fuel points: <%= student.nodeProject %></p>
<p>Imposter points: <%= student.electronProject %></p>
<p>React Native points: <%= student.reactNativeProject %></p>
<p>Capstone points: <%= student.capstoneProject %></p>
<p>Dangerous Denver points: <%= student.dangerousDenver %></p>
<p>Mock assessment points: <%= student.mockAssessment %></p>
<p>Homework points: <%= student.homework %></p>
<p>Student led session points: <%= student.studentLedSession %></p>
<p>Final assessment points: <%= student.finalAssessment %></p>
<p>Extra credit points: <%= student.extraCredit %></p>

<p>Total points: <%= totalPoints %> / 1000</p>
